body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #201f1f;
}



.parte1{
    background-image: url(./IMG/bgtrilha.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    justify-content: center;
    padding-top: 200px;
    
}

.parte1 h1{
    color:#C9F31D;
    z-index: 1px;
    font-size: 48px;
}

.parte1 p{
    text-align: center;
    font-size: 20px;
    color: white;
}

.p2{
    padding-top: 15px;
}


.parte2{
    padding: 50px;
}

.parte2 h1{
    text-align: center;
    color: white;
    padding-bottom: 25px;
}

.parte2 h1 span{
    color:#C9F31D;
}


.blocos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-items: center;
}

.bloco {
  background-color: #C9F31D;
  text-align: center;
  padding: 30px;
  max-width: 400px;
  max-height: 400px;
  border-radius: 10px;
}

.icon{
    width: 70px;
}

.parte2 p{
    line-height: 1.5;
    padding-bottom: 25px;
}

.parte2 a{
    text-decoration: none;
    background-color: black;
    color: #C9F31D;
    padding: 20px;
    border-radius: 5px;
}


.parte3{
    background-color: #C9F31D;
    padding: 70px;
    text-align: center;
}

.parte3 h1{
    font-size: 42px;
    padding-bottom: 30px;
}

.parte3 a{
    text-decoration: none;
    background-color: black;
    color: #C9F31D;
    padding: 20px;
    border-radius: 5px;
}

